HBNB_ENV='' # dev, test, production
HBNB_MYSQL_USER='' # username of your MySQL
HBNB_MYSQL_PWD='' # password of your MySQL
HBNB_MYSQL_HOST='' # hostname of your MySQL
HBNB_MYSQL_DB='' # database name of your MySQL
HBNB_TYPE_STORAGE='' # the type of storage used. It can be “file” (using FileStorage) or db (using DBStorage)